<form (ngSubmit)="save(f)" #f="ngForm">
    <div *ngFor="let t of tasks; let i= index">
        <input [(ngModel)]="t.date" name="date_{{i}}" />
        <input [(ngModel)]="t.start" name="start_{{i}}" />
        <input [(ngModel)]="t.end" name="end_{{i}}" />
        <input [(ngModel)]="t.desc" name="desc_{{i}}" />
        <input [(ngModel)]="t.opt" name="opt_{{i}}" />
        <input type="button" name="btn_{{i}}" value="-" (click)="del($event, i)"  [hidden]="i == 0"/>
        <input type="button" (click)="add($event)" value="+" />
    </div>
    
    <input type="submit" value="save" />
</form>
